{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <title>

        {{ title }}

    </title>


    </style>
</head>

<body>
{% include 'monitoring/includes/header.html' %}

<div class="left">
    <table>
        <tr>

            <td><h5>#</h5></td>

            <div class='line'>
                <td><h5>Продукт</h5></td>
            </div>
            <td><h5>Уязвимость</h5></td>

        </tr>

        {% for ad in ads_list %}

        <tr>
            <td><h5> {{ ad.pk }}</h5></td>
            <td><h5><a href={{ ad.pk }}> {{ ad.title }}</a></h5></td>
            <td><h5>{{ ad.name }}</h5></td>
        </tr>

        {% endfor %}
    </table>
</div>


<div class="pagination">
    <h6>
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}

                <span class="current">
                    {% for p in paginator.page_range %}
                    <a href='?page={{ p }}'>{{ p }}</a>
                    {% endfor %}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                {% endif %}
            </span>

    </h6>
</div>
{% include 'monitoring/includes/footer.html' %}

<!-- Bootstrap JS -->
<script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>