{% extends 'monitoring/base.html' %}


{% block title %}
  {{ title }}
{% endblock title %}


    {% block content %}

      {% if turn_on_block %}

        <div style='text-align: center; margin-top: 80px; font-size: 60px; color: red; face: Times New Roman;';>
            <h1> Главная страница </h1>
                Абракадабра, работай!


        </div>

      {% else %}

        <div style='text-align: center; margin-top: 80px; font-size: 16px;';>

            На сайте проводятся технические работы!

       </div>
      {% endif %}

    {% endblock %}